<template>
  <div class="user-profile">
    <div class="content">
      <div class="profile-thumbhnail">
        <img src="@/static/thumbnail.png" alt="">
      </div>
      <font-awesome-icon class="opening-icon" fas icon="chevron-down" :style="{'font-size': '10px' }" />
    </div>
  </div>
</template>

<style lang="scss" scoped>
.user-profile {
  flex: 1;
  border-right: 2px solid $border-color;
  padding: 0 10px;
  .content {
    height: 100%;
    width: 100%;
    min-width: 78px;
    padding: 0 10px;
    margin: 0 auto;
    direction: rtl;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    border: 1px solid transparent;
    &:hover {
      border: 1px solid $border-color;
      border-radius: 8px;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.06);
      transition: 0.2s ease-out;
    }
    .opening-icon {
      display: block;
      margin-right: 10px;
    }
    .profile-thumbhnail {
      width: 42px;
      height: 42px;
      border: 2px solid white;
      border-radius: 50%;
      display: flex;
      flex-direction: row;
      align-items: center;
      overflow: hidden;
      img {
        display: block;
        width: 100%;
      }
    }
  }
}
</style>
