html,
body {
  font-family: vazir;
  font-size: 14px;
}

h1,
.h1 {
  font-family: 'vazir-black';
  font-size: 35px;
}

h2,
.h2 {
  font-family: 'vazir-medium';
  font-size: 24px;
}

h3,
.h3 {
  font-family: 'vazir-bold';
  font-size: 22px;
}

h4,
.h4 {
  font-family: 'vazir-bold';
  font-size: 18px;
}

h5,
.h5 {
  font-family: 'vazir-bold';
  font-size: 16px;
}

h6,
.h6,
input {
  font-family: 'vazir-bold';
  font-size: 14px;
}

h6.h6-reg {
  font-family: vazir;
  font-size: 14px;
}

p.bold,
.btn {
  font-family: 'vazir-bold';
  font-size: 12px;
}

p {
  font-family: vazir;
  font-size: 12px;
}

p.sub-word {
  font-family: vazir;
  font-size: 10px;
}

p.sub-word.bold {
  font-family: 'vazir-bold';
  font-size: 10px;
}
