@import 'variables';
@import 'fonts';
@import 'font-size';

html,
body,
p,
p.p-bold,
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
h6.h6-reg {
  color: $text-color;
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
  }
}

a {
  text-decoration: none;
  color: $text-color;
}

.nuxt-link-active {
  background: $primary;
  h5 {
    color: white;
  }
  transition: 0.2s ease-out;
}
