<template>
  <div class="sidebar-container">
    <app-sidebar-menu />
  </div>
</template>

<style lang="scss" scoped>
</style>

<script>
import SidebarMenu from './elements/SidebarMenu.vue'
export default {
  components: {
    appSidebarMenu: SidebarMenu
  }
}
</script>

<style lang="scss" scoped>
.sidebar-container {
  padding: 40px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1210px) {
  .sidebar-container {
    display: none;
  }
}
</style>
