<template>
  <div class="btn btn-white">
    <p class="icon">
      <font-awesome-icon fas icon="feather-alt" />
    </p>
    <h4 class="h4 text">افزودن دیدگاه</h4>
  </div>
</template>

<style lang="scss" scoped>
.btn-white {
  direction: rtl;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 70px;
  width: 340px;
  padding: 4px 16px 0 16px;
  border: 1px solid $border-color;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  .text {
    line-height: 50px;
  }
  .icon {
    height: 24px;
    margin-left: 12px;
    font-size: 18px;
    &:empty {
      margin-left: 0;
    }
  }
  &:hover {
    background-color: $border-color;
    transition: 0.2s ease-out;
  }
}
</style>
