<template>
  <div class="btn btn-white">
    <p class="icon">
      <font-awesome-icon fas icon="plus" />
    </p>
    <h5 class="h5 text">اضافه کردن به سبد خرید</h5>
  </div>
</template>

<style lang="scss" scoped>
.btn-white {
  direction: rtl;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  height: 50px;
  width: 340px;
  padding: 4px 16px 0 16px;
  background-color: $primary;
  border: 1px solid $border-color;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  .text {
    line-height: 50px;
    color: white;
  }
  .icon {
    height: 24px;
    margin-left: 12px;
    font-size: 16px;
    color: white;
    &:empty {
      margin-left: 0;
    }
  }
  &:hover {
    background-color: $primary-hover;
    transition: 0.2s ease-out;
  }
}
</style>
