<template>
  <div :class="type === 'button' ? backgroundColor === 'white' ? 'icon buttonWhite': 'icon buttonGray':'icon'" :style="{backgroundColor}">
    <font-awesome-icon class="icon-component" fas :icon="fontIcon" :style="{color, 'font-size': size}" />
  </div>
</template>

<script>
export default {
  updated() {
    console.log(this.backgroundColor)
  },
  props: {
    type: {
      type: String,
      default: 'icon'
    },
    fontIcon: {
      type: String
    },
    color: {
      type: String
    },
    backgroundColor: {
      type: String,
      default: '#f0f0f0'
    },
    size: {
      type: String,
      default: '14'
    }
  }
}
</script>

<style lang="scss" scoped>
.icon {
  width: 30px;
  height: 30px;
  background-color: $component-bg;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  .icon-component {
    font-size: 12px;
  }
}
.buttonWhite:hover {
  background-color: $bg !important;
}
.buttonGray:hover {
  background-color: $textbox-fcous-border-color !important;
}
</style>
