<template>
  <div class="list">
    <nuxt-link :to="item.to" class="list-item" v-for=" (item, index) in sidebarItems" :key="index">
      <app-icon :fontIcon="item.icon" size="14px" />
      <h5 class="item-text">{{item.title}}</h5>
    </nuxt-link>
  </div>
</template>

<script>
import Icon from './IconDefualt.vue'
export default {
  data() {
    return {
      sidebarItems: [
        { title: 'گزارشات', icon: 'chart-bar', to: '/reports' },
        { title: 'بخش بندی کالاها', icon: 'list-ul', to: '/segmentation' },
        { title: 'مدیریت فروشگاه', icon: 'store', to: '/storeManagment' },
        { title: 'فروش', icon: 'dollar-sign', to: '/sales' },
        { title: 'پیام ها', icon: 'envelope', to: '/messages' },
        { title: 'مدیریت صفحه اصلی', icon: 'home', to: '/landingpage' },
        { title: 'کدهای تخفیف', icon: 'percent', to: '/discounts' },
        { title: 'کاربران', icon: 'user-friends', to: '/users' },
        { title: 'دیدگاه کاربران', icon: 'comment', to: '/userreviews' }
      ]
    }
  },
  components: {
    appIcon: Icon
  }
}
</script>

<style lang="scss" scoped>
.list {
  .list-item {
    height: 50px;
    padding: 0 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    h5 {
      line-height: 36px;
      margin-right: 14px;
    }
    &:hover {
      background: $primary;
      h5 {
        color: white;
      }
      transition: 0.2s ease-out;
    }
  }
  li.active {
    background: $primary;
    h5 {
      color: white;
    }
  }
}
</style>
