<template>
  <div class="text-box">
    <div class="label" v-if="label">
      <h5>{{label}}</h5>
    </div>
    <div class="input">
      <div class="text-area">
        <font-awesome-icon class="search-icon" fas icon="search" />
        <input :style="{width: `${inputWidth}px`, backgroundColor: bgColor}" :type="inputType" :placeholder="placeholder">
      </div>
      <div class="message" v-if="message">
        <font-awesome-icon :class="`${message.type} icon`" fas :icon="messageIcon" />
        <p :class="`${message.type} bold text`">{{message.text ? message.text: ""}}</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    label: {
      type: String,
      default: null
    },
    inputType: {
      type: String,
      default: 'text'
    },
    placeholder: {
      type: String,
      default: 'اینجا بنویسید'
    },
    message: {
      type: Object,
      default: null
    },
    width: {
      type: String,
      default: 'normal'
    },
    backgroundColor: {
      type: String,
      default: 'white'
    }
  },
  computed: {
    messageIcon: function () {
      switch (this.message.type) {
        case 'error':
          return 'exclamation-triangle'
        case 'info':
          return 'info-circle'
        case 'warning':
          return 'exclamation-circle'
        default:
          return null
      }
    },
    inputWidth: function () {
      switch (this.width) {
        case 'normal':
          return 250
        case 'small':
          return '100'
        case 'large':
          return '100%'
        default:
          return 250
      }
    },
    bgColor: function () {
      switch (this.backgroundColor) {
        case 'dark':
          return '#f1f1f1'
        default:
          return 'white'
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.text-box {
  direction: rtl;
  width: 100%;
  .label {
    margin-bottom: 10px;
  }
  .input {
    .text-area {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      .search-icon {
        position: absolute;
        right: 15px;
        color: $disabled;
      }
      input {
        width: 100%;
        box-sizing: border-box;
        height: 50px;
        padding: 0 40px;
        border: 1px solid $border-color;
        border-radius: 8px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.06);
        &:focus {
          border: 2px solid $textbox-fcous-border-color;
          outline: none;
        }
        &::placeholder {
          color: $disabled;
        }
      }
    }
    .message {
      margin: 5px 10px 0 0;
      display: flex;
      .icon {
        font-size: 12px;
        margin: 2px 0 0 5px;
      }
      .icon.error,
      .text.error {
        color: $primary;
      }
      .icon.warning,
      .text.warning {
        color: $warning;
      }
      .icon.info,
      .text.info {
        color: $info;
      }
    }
  }
}
</style>
