$primary: #fb3449;
$primary-hover: #d62f3f;
$secondary: #ffffff;
$success: #48c774;
$accent: #1b1b1b;
$text-color: $accent;
$info: #3298dc;
$warning: #eedb2d;
$danger: #fb3449;
$disabled: #b5b5b5;
$bg: #f9f9f9;
$component-bg: #f0f0f0;
$progress-bar: #4dc2dc;
$border-color: #f1f1f1;
$textbox-fcous-border-color: #dfdfdf;
