<template>
  <div class="default-layout">
    <Header />
    <div class="main">
      <Sidebar />
      <Nuxt />
    </div>
  </div>
</template>

<style lang="scss">
html {
  direction: rtl;
  font-family: 'vazir';
  font-size: 14px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html,
body,
#__nuxt,
#__layout {
  height: 100%;
}

.default-layout {
  height: 100%;
  display: grid;
  grid-auto-rows: 80px auto;
  .main {
    display: grid;
    grid-template-columns: 260px auto;
  }
}

@media (max-width: 1210px) {
  .main {
    grid-template-columns: auto !important;
  }
}
</style>
