<template>
  <div class="segment-item">
    <div class="title">
      <app-icon class="list-icon" fontIcon="plus" size="14px" />
      <h6>کالای دیجیتال</h6>
    </div>
    <div class="options">
      <app-icon class="list-icon" fontIcon="chevron-right" size="14px" type="button" />
      <app-icon class="list-icon" fontIcon="ellipsis-v" size="14px" backgroundColor="white" type="button" />
    </div>
  </div>
</template>

<script>
import Icon from '../elements/IconDefualt.vue'
export default {
  components: {
    appIcon: Icon
  }
}
</script>

<style lang="scss" scoped>
.segment-item {
  width: 49%;
  min-width: 270px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $border-color;
  border-radius: 8px;
  padding: 25px 15px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .list-icon {
      margin-left: 10px;
    }
  }
  .options {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    .list-icon {
      margin-right: 10px;
    }
  }
}

@media (max-width: 1210px) {
  .segment-item {
    width: 100%;
  }
}
</style>
