<template>
  <vue-custom-scrollbar class="scroll-area" :settings="settings" @ps-scroll-y="scrollHanle">
    <div class="container">
      <section class="segments">
        <div class="section-header">
          <h5 class="section-title">بخش ها و دسته بندی ها</h5>
          <app-icon class="add-button" fontIcon="plus" size="14px" />
        </div>
        <div class="segment-items">
          <app-segment-item />
          <app-segment-item />
        </div>
      </section>

      <section class="barnds">
        <div class="section-header">
          <h5 class="section-title">برند ها</h5>
          <div class="options">
            <app-icon fontIcon="search" size="14px" />
            <app-icon class="add-button" fontIcon="plus" size="14px" />
          </div>
        </div>
        <div class="brand-items">
          <app-brand-item />
          <app-brand-item />
          <app-brand-item />
          <app-brand-item />
        </div>
      </section>
    </div>
  </vue-custom-scrollbar>

</template>

<script>
import vueCustomScrollbar from 'vue-custom-scrollbar'
import 'vue-custom-scrollbar/dist/vueScrollbar.css'
import Icon from '../../components/elements/IconBig.vue'
import SegmentItem from '../../components/segmentation/SegmentItem.vue'
import BrandItem from '../../components/segmentation/BrandItem.vue'
export default {
  components: {
    appIcon: Icon,
    appSegmentItem: SegmentItem,
    appBrandItem: BrandItem,
    vueCustomScrollbar
  },
  data() {
    return {
      settings: {
        suppressScrollY: false,
        suppressScrollX: true,
        wheelPropagation: true
      }
    }
  },
  methods: {
    scrollHanle(evt) {
      console.log(evt)
    }
  }
}
</script>

<style lang="scss" scoped>
.container {
  direction: ltr;
  width: 100%;
  padding: 0 200px;
  height: 90vh;
  margin: 0 auto;
  section {
    direction: rtl;
    padding: 75px 0 0 0;
    .segment-items {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    .brand-items {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
    }
  }
  .section-header {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .options {
      display: flex;
      .add-button {
        margin-right: 10px;
      }
    }
  }
}
.scroll-area {
  direction: ltr;
}

@media (max-width: 800px) {
  .container {
    padding: 0 50px;
  }
}
</style>
